<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Document</title>
</head>
<body>
    <style>
        .headerSVG{
            width: 161.99px;
            height: 154.53px;
        }
        span{
            color: #E6EDF3;
            font-family: 'JetBrains Mono';
            font-size: 100px;
        }
    </style>
    
    <div align="center">
        <img class = "headerSVG" src="fsp_logo.svg" alt="SVG Image">
        <span>Личный кабинет</span>
    </div>
    <div style=""><p>Личный кабинет</p></div>
    <div class="table" >
        <form>
            <p>Логин</p>
            <input name="Логин" size="40" style="border:3px solid #2992E5; background: #1c54819b; border-radius: 7px;">
        </form>
        <form>
            <p>Пароль</p>
            <input name="Логин" size="40" style="border:3px solid #2992E5;background: #1c54819b; border-radius: 7px;">
        </form>
        <b></b>
        <form>
            <input type="button" class="btn-gradient btn-gradient--color__1"  value="Войти" onClick="in()">
        </form>
        <form>
            <a class="linkvk" href="url">
            <!-- pic -->
        </a> 
           <a class="linkgos" href="url">
            <!-- pic2 -->
        </a>
        </form>
    </div>
    <div class="table1">
        <p><font size="2">Новенький на сайте? </font><a class="link" href="url"><font size="2">Заведи аккаунт.</font></a></p>
    </div>
</body>
</html>