<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>События</title>
  </head>
  <body>
    <header>
        <img class = "headerSVG" src="fsp_logo.svg" alt="SVG Image">
        <button class = "headerButton">События</button>
        <button class = "headerButton">Рейтинг участников</button>
        <button class = "headerButton">Рейтинг команд</button>
    </header>
    <form>
        <span>Направление</span>
        <select id="selectNaprav">
            <option value="all">Все</option>
        </select>
    </form>
    <form style="margin-top: 20px">
        <span>Дисциплина</span>
        <select id="selectDisciplina" >
            <option value="all">Все</option>
        </select>
    </form>
    <div id = "inputEvents">
        <div class="create_cartochka">
        
        </div>
        <div class="create_cartochka">
        
        </div>
    </div>
  </body>
</html>
